{% extends 'base.html' %}
{% block title %}
<title>Script Hub/Register</title>
{% endblock%}
{% block content %}
<div id="container">
    <div class="header">
        <h1>Create Account</h1>
    </div>
    <form ation="{% url 'store:register_page'%}" method="post">
        {% csrf_token %}
        <div id="form-control">
            <label>Username</label>
            <input name='name' class="form-control" type="text"  required>
        </div>
    
        <div id="form-control">
            <label>Email</label>
            <input name='email' class="form-control" type="email" required>
        </div>
       
        <div id="form-control">
            <label>Password</label>
            <input name='password' class="form-control" id="password" type="password" onkeyup='check();' required>
        
    </div>
        <div id="form-control">
            <label>Confirm Password</label>
            <input name='password1' id="confirm_password" class="form-control" type="password"  onkeyup='check();' required>
            <span id='message'></span>
            {{register_form.errors}}
           
               <p>Already Have an Account</p>
                <div id="haveAnAccount">
                <a href="{% url 'stor e:login_page' %}"><strong>Login</strong></a>
            </div>
            <button type="submit" id="submitButton">Register</button>
        </div>
    </form>
    
</div>
<script>
var check = function(){

  if (document.getElementById("password").value ==
      document.getElementById("confirm_password").value){
      document.getElementById('message').style.color= 'green';
      document.getElementById('message').innerHTML='Matching';
      }else{
        document.getElementById('message').style.color='red';
        document.getElementById('message').innerHTML='Not Matching';
      }

}



</script>
{% endblock %}